html,
body {
  margin: 0;
}

#activites-pane {
  z-index: 1000;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

#activites-pane > div {
  max-height: calc(100vh - 12rem);
  overflow-y: scroll;
}

#leaderboard-pane {
  z-index: 1000;
  position: fixed;
  top: 6rem;
  left: 1rem;
}

#leaderboard-pane > div {
  overflow-y: scroll;
  max-height: calc(100vh - 10rem);
}

#timeline-pane {
  z-index: 1000;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}

#timeline-pane .tp-sldtxtv_t {
  display: none;
}

#loading-pane {
  z-index: 1000;
  position: fixed;
  top: 1rem;
  left: 50%;

  font-family: monospace;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

#loading-pane::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;

  background-color: white;
  border-radius: 100%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

#map {
  height: 100vh;
}

.marker {
  display: grid;
  place-items: center;
  background-color: rgba(245, 67, 113, 0.75);
  font-weight: 900;
  font-family: monospace;
  color: white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.marker.finished {
  background-color: rgba(67, 67, 67, 0.75);
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.tp-leaderboard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tp-leaderboard > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.tp-leaderboard > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--in-fg);
  background: var(--in-bg);
  border-radius: 2px;
}

.tp-leaderboard > ul > li[disabled] {
  opacity: 0.5;
}

.tp-leaderboard > ul > li > div:first-of-type {
  background: rgba(245, 67, 113, 1);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  line-height: 20px;
  text-align: center;
}

.tp-leaderboard > ul > li.error > div:first-of-type {
  background: rgba(255, 0, 0, 0.75);
  color: white;
}

.tp-leaderboard > ul > li > div:nth-of-type(2) {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  white-space: nowrap;
}

.tp-leaderboard > ul > li > div:last-of-type {
  flex-shrink: 0;
  margin-left: auto;
}

.tp-leaderboard > ul > li > button {
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border-radius: 2px;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.tp-file-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--in-fg);
}

.tp-file-drop-zone {
  height: 60px;
  display: grid;
  place-items: center;
  border: 2px dashed var(--btn-bg);
  border-radius: 6px;
  color: var(--btn-bg);
  cursor: pointer;
}

.tp-file-drop-zone:hover,
.tp-file-drop-zone.drag-enter {
  background-color: rgba(245, 67, 113, 0.25);
  border-color: rgba(245, 67, 113, 0.75);
}

.tp-file-status {
  display: flex;
  flex-direction: column;
}
progress {
  display: none;
  height: 0.25rem;
  width: 100%;
  border-radius: 0.5rem;
}
progress[loading] {
  display: block;
}
progress::-webkit-progress-bar {
  background-color: var(--btn-bg);
  transition: width 400ms ease-in-out;
  border-radius: 0.5rem;
}
progress::-webkit-progress-value {
  background-color: rgba(82, 255, 70, 0.75);
  border-radius: 0.5rem;
}

.pane-layer {
  /* inset: 0;
        z-index: 1000;
        display: grid; */
}

[hidden] {
  display: none !important;
}
